* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;


}

.container .header {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    position: sticky;
    top: 0px;
    background-color: azure;
    display: flex;
    justify-content: left;
    border: 1px solid rgb(236, 230, 230);
    border-radius: 20px;
}

.logo {
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 200px;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid rgb(230, 221, 221);
    box-shadow: 2px 2px 5px rgb(223, 209, 209);
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 20px;
    color: rgb(53, 116, 172);
}

.search_bar {

    width: 20%;

    position: absolute;
    right: 0px;
}

.search_bar input {
    padding: 8px 10px;
    border: 1px solid rgb(243, 236, 236);
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(233, 224, 224);
}

.search_bar input:hover {
    background-color: rgb(255, 250, 250);
}

.search_bar input:focus {
    outline: none;
}

.search_bar .btn {
    padding: 8px 20px;
    border: 1px solid rgb(230, 221, 221);
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(233, 224, 224);
    margin-left: 5px;
    color: gray;
    font-weight: bold;
}

.search_bar .btn:hover {
    cursor: pointer;
    background-color: rgb(233, 173, 245);
}

.section {
    width: 100%;
    height: 100%;

    padding: 20px 0px;
}

.section .table {
    width: 80%;
    margin: auto;
    border: 1px solid rgb(231, 219, 219);
    padding: 20px 20px;
    box-shadow: 1px 1px 5px rgb(218, 200, 200);
}

table {
    width: 100%;
}

table,
th,
td {
    border-collapse: collapse;
}

th {
    padding: 10px 0px;
    font-size: 18px;
    color: cadetblue;
    background-color: rgb(213, 236, 236);
}

td {
    text-align: center;
    padding: 10px 0px;
}

tr {
    border-bottom: 1px solid rgb(233, 223, 223);
}

tr:nth-child(odd) {
    background-color: rgb(238, 235, 235);
}

tr:hover {
    background-color: rgb(247, 242, 242);
}
i{
    padding: 5px 10px;
    color: blue;
}
i:hover{
    cursor: pointer;
    color: gray;
}
button{
    border: none;
}