*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    width: 100%;
    height: 100%;


}
#slider{
position: absolute;
z-index: 1;
right: 20px;
padding: 10px;
position: fixed;

}
.container i:hover{
    background-color:rgba(70, 58, 58,0.1);
    cursor: pointer;
}
.container .header{
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content:center;

    position: sticky;
    top: 0px;
    background-color: azure;
    border: 1px solid rgb(236, 230, 230);
    box-shadow: 0px 2px 5px gray;
}
.logo{
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid rgb(230, 221, 221);
    box-shadow: 2px 2px 5px rgb(223, 209, 209);
}
.logo a{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 5px;
    font-size:20px;
    color: rgb(53, 116, 172);
}
.logo a:hover{
    color: rgb(10, 133, 255);;
}
.links{
    width: 60%;
   
}
.links ul{
    width: 100%;
    height: 65px;

    display: flex;
    justify-content: left;
    align-items:center;


}
.links li{
    list-style: none;
    height: 100%;
    margin-left: 20px; 

   display: flex;
   align-items: center;
}
.links a{
    text-decoration: none;
    font-weight: bold;
    font-size:17px;
   text-transform: uppercase;
   color: rgb(15, 119, 84);
}
.links a:hover{
color: rgb(102, 226, 185);
text-decoration: underline;
}
.links a:active{
    text-decoration: underline;
}


/* -------------------------------Section Part --------------------------------------------*/

.section{
    width: 100%;
    height: 100%;
    margin: 20px 0px;
}
.function{
    width: 50%;
    height: 300px;
    margin: 30px auto;

display: flex;
justify-content: space-around;
}
.function1{
    width: 40%;
    height: 100%;
    border:1px solid rgb(240, 231, 236);
    box-shadow: 2px 2px 5px rgb(247, 239, 239);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
.function1 img{
    width: 100%;
    height: 80%;
}
.function1 a{
    border: 1px solid red;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;

}
.function1 a:hover{
    background-color: red;
    color: white;
}

.about-website{
    background-color: rgb(220, 233, 233);
    width: 80%;
    height: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-website .part{
    width: 20%;
    height: auto;
    border: 1px solid rgb(250, 250, 202);
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(250, 250, 202);


}
.part img{
    width: 100%;
    height: 70%;
    border: 1px solid rgb(235, 217, 226);
    border-radius: 50%;
}
.part p{
    text-align: center;
    line-height: 20px;
    margin-top: 15px;
}

/* ---------------------------------About Me------------------------------ */
.about-me{
    width: 50%;
    height: 100%;
    margin: 20px auto;
    border: 1px solid rgb(219, 192, 206);
    display: flex;

}
.about-me .part{
    width: 50%;
    height: 380px;
    padding: 20px;
}
.about-me .part img{
    width: 100%;
    height: 100%;
    border: 2px solid green;
}
#detail{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#detail p{
    text-align: left;
    line-height: 0px;
    padding: 10px 0px;
}
/* --------------------------------------------Footer Part --------------------------------*/
.footer{
    width: 100%;
    height: 100%;

    padding: 20px 40px;
    margin-top: 40px;
    display: flex;
    align-items: baseline;
    background-color: rgb(231, 248, 248);
}
.footer .footer-part{
    width: 30%;

    margin-left: 30px;
}
.footer .footer-part h3{
text-transform: uppercase;
color: rgb(4, 245, 133);
font-size: 22px;
}
i{
    font-size: 30px;
    margin: 20px 10px;
}
i:hover{
    color: blueviolet;
}
hr{
    color: rgb(247, 234, 234);
    margin: 10px 0px;
}
.part i:hover{
    color: black;
}
.part a:hover{
    color: rgb(66, 66, 192);
}
.contact-us{
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}
.contact-us input{
    display: block;
    border: 1px solid rgb(241, 227, 227);
    padding: 10px 20px ;
    width: 100%;
    margin-top: 10px;
    box-shadow: 1px 1px 5px rgb(235, 228, 228);

}
.contact-us input:focus{
    outline: none;
    box-shadow: 2px 2px 5px rgb(190, 177, 177);
}
.contact-us textarea{
    display: block;
    width: 100%;
    border: 1px solid rgb(245, 233, 233);
    padding: 10px 20px ;
    margin: 10px 0px;
    box-shadow: 1px 1px 5px rgb(235, 228, 228);
}
.contact-us textarea:focus{
    outline: none;
    box-shadow: 2px 2px 5px rgb(190, 177, 177);
}
.contact-us button{
    display: block;
    padding: 9px 20px;
    background-color: white;
    font-weight: bold;
    color: gray;
    border: 1px solid rgb(221, 209, 209);
    box-shadow: 1px 1px 5px rgb(235, 228, 228);
}
.contact-us button:hover{
    box-shadow: 2px 2px 5px rgb(190, 177, 177);
    cursor:pointer;
}
.contact-us input textarea button{
    margin-top: 10px;
}


/*-------------------------------  Responsive Things  (Media Query)  ---------------------------- */
@media screen and (max-width:1042px){
    .header{
        flex-direction: column;
       
    }

    .header .logo{
        width: 90%;
        justify-content: left;
        margin-left: 20px;
    }
    .header .links ul{
        border: 3px solid green;
        flex-direction: column;
        height:400px;
       position: absolute;
       top: -500px;
       right: 0px;
        background-color: rgba(0,0,0,0.5);
        transition: top 0.3s ease;
        
    }
    .links li{

        width: 100%;
        text-align:center;
    }
    .links li:hover{
        background-color: rgba(0,0,0,0.6);
    }
    .links a{
        margin-left: 50%;
        transform: translateX(-50%);
        color: white;
    }
}


@media screen and (max-width:945px){

    .function{
        width: 80%;
    }
}
@media screen and (max-width:510px){
    .function{
        width: 95%;
        height: 100%;
        flex-direction: column;

    }
    .function1{

        width: 80%;
        margin: 20px auto;
    }
    .function1 img{
        height: auto;
    }
}
@media screen and (max-width:1490px){
    .about-website{
    }
    .about-website .part{
        width: 30%;
    }
}
@media screen and (max-width:1035px){
    .about-website .part{
        width: 40%;
    }
}
@media screen and (max-width:840px){
    .about-website {
        
        flex-direction: column;
    }
    .about-website .part{
        width: 80%;
        margin: auto;
    }
    .part img{
        width: 60%;
  
        display: block;
        margin: auto;
    }
}
@media screen and (max-width:1106px){
    .about-me{
        width: 70%;
    }
}
@media screen and (max-width:500px){
    .about-me{
        width: 90%;
    }
}
@media screen and (max-width:866px){
    .footer{
        flex-direction: column;
    }
    .footer .footer-part{

        width: 80%;
        margin: auto;
    }
    .footer-part h3{
        text-align: center;
    }
    .footer-part i{
        text-align: center;
    }
    .contact-us button{
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width:418px){
.footer-part{
    width: 95%;
}
}